body {
    font-size: 16px;
    font-family: "Karla", Arial, Helvetica, sans-serif;
}


h1,h2,h3,h4,h5 {
    font-family: "DM Serif Display", 'Times New Roman', Times, serif;
    font-weight: 400;
}

.fs-heading-1 {
    font-size: 70px;
}

.fs-heading-2 {
    font-size: 55px;
}

.fs-heading-3 {
    font-size: 45px;
}

.c-color-dv {
    color: hsl(256, 26%, 20%);
}

.c-color-gb {
    color: hsl(216, 30%, 68%);
}

.c-color-vdv {
    color: hsl(270, 9%, 17%);
}

.c-color-dgv {
    color: hsl(273, 4%, 51%);
}

.c-color-vlg {
    color:hsl(0, 0%, 98%);; 
}

.heading-line::before{
    content: "";
    width: 150px;
    background-color: hsl(273, 4%, 51%);
    height: 1px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 2;
}


.mt-10 {
    margin-top: 350px;
}
