body {
    font-size: 16px;
    font-family: "Karla", Arial, Helvetica, sans-serif;
}


h1,h2,h3,h4,h5 {
    font-family: "DM Serif Display", 'Times New Roman', Times, serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}



/* INTRO SECTION */

#intro div:first-of-type {
    background-color: hsl(256, 26%, 20%);
}

#intro h1 {
    font-size: 70px;
}

@media (max-width: 768px) {
    #intro h1 {
      font-size: 48px;
    }
}


/* WHY US SECTION */
#why-us {
    margin-top: 300px;
}


@media (max-width: 768px) {
    .#why-us{
        margin-top: 150px;
    }
}


#why-us h2 {
    font-size: 55px;
}
 /* To change font size for smaller screens */
@media (max-width: 768px) {
    #why-us h2 {
      font-size: 40px;
    }
}



/* CTA SECTION */
#cta div{
    background-color: hsl(256, 26%, 20%);
}

#cta h3 {
    font-size: 45px;
}

@media (max-width: 768px) {
    #cta h3 {
      font-size: 32px;
    }
}


/* COLORS  */
.c-color-dv{
    color: hsl(256, 26%, 20%);
}

.c-color-dgv {
    color: hsl(273, 4%, 51%);
}

.c-color-vlg {
    color:hsl(0, 0%, 98%); 
}


/* PSEUDO ELEMENT (little line on top of section headings */
#intro h1::before,
#why-us h2::before{
    content: "";
    width: 150px;
    background-color: hsl(273, 4%, 51%);
    height: 1px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 2;
}

@media (max-width: 768px) {
    #intro h1::before,
    #why-us h2::before{
        left: calc(50% - 75px);
    }
}
